flows.json
[{"id":"7b19209e.9dfc4","type":"tab","label":"Flow 6","disabled":false,"info":""},{"id":"e92badb8.d2421","type":"ui_microphone","z":"7b19209e.9dfc4","name":"","group":"5b216935.578588","order":4,"width":6,"height":1,"maxLength":"10","maxRecogLength":"10","timeslice":0,"press":"click","mode":"recog","interimResults":false,"x":110,"y":800,"wires":[["fdcb69ac.47b328","e91a7e99.9bb18"]]},{"id":"69063c27.5ea164","type":"ui_audio","z":"7b19209e.9dfc4","name":"","group":"5b216935.578588","voice":"Google हिन्दी","always":true,"x":980,"y":420,"wires":[]},{"id":"5c429c4b.cb4ba4","type":"inject","z":"7b19209e.9dfc4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"10","topic":"","payload":"","payloadType":"date","x":100,"y":680,"wires":[["4a9c71a5.48aad"]]},{"id":"e91a7e99.9bb18","type":"function","z":"7b19209e.9dfc4","name":"","func":"//msg.payload=msg.payload.text\nmsg.payload=msg.payload\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":580,"wires":[["58323335.b7ee6c","159b97d6.5369f8","d1eb2db4.dc0a2","d19cd3f6.9073b"]]},{"id":"a0bc54b6.166a98","type":"http request","z":"7b19209e.9dfc4","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://api.assemblyai.com/v2/stream","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":760,"wires":[["792273d1.1a3cbc","4962d8df.13db48"]]},{"id":"4962d8df.13db48","type":"debug","z":"7b19209e.9dfc4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1310,"y":900,"wires":[]},{"id":"5869fae7.908464","type":"change","z":"7b19209e.9dfc4","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"{ \"authorization\": \"63bf724d31ac4b8784143fce713c520c\",     \"content-type\": \"application/json\" }","tot":"json"},{"t":"set","p":"data","pt":"msg","to":"msg.payload","tot":"str"},{"t":"set","p":"method","pt":"msg","to":"POST","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":720,"wires":[["a75f6dd4.ee403"]]},{"id":"3f03ed7d.92ebc2","type":"http request","z":"7b19209e.9dfc4","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":570,"y":680,"wires":[[]]},{"id":"a75f6dd4.ee403","type":"http request","z":"7b19209e.9dfc4","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://api.assemblyai.com/v2/upload","tls":"","persist":false,"proxy":"","authType":"","x":670,"y":720,"wires":[["1fe034ac.0acb0b"]]},{"id":"1fe034ac.0acb0b","type":"function","z":"7b19209e.9dfc4","name":"","func":"msg.payload={\"audio_data\":msg.payload.upload_url }\nmsg.headers={ \n    \"authorization\": \"63bf724d31ac4b8784143fce713c520c\",     \"content-type\": \"application/json\" \n    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":720,"wires":[[]]},{"id":"792273d1.1a3cbc","type":"function","z":"7b19209e.9dfc4","name":"","func":"global.set(\"url\",\"https://api.assemblyai.com/v2/stream/\"+msg.payload.id);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1320,"y":780,"wires":[["4962d8df.13db48"]]},{"id":"4a9c71a5.48aad","type":"function","z":"7b19209e.9dfc4","name":"","func":"msg.url=global.get(\"url\");\nmsg.headers={ \n    \"authorization\": \"63bf724d31ac4b8784143fce713c520c\",     \"content-type\": \"application/json\" \n    \n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":680,"wires":[["3f03ed7d.92ebc2"]]},{"id":"f8387fa7.06d9e","type":"ui_button","z":"7b19209e.9dfc4","name":"","group":"5b216935.578588","order":5,"width":6,"height":1,"passthru":false,"label":"Refresh","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":100,"y":720,"wires":[["4a9c71a5.48aad"]]},{"id":"58323335.b7ee6c","type":"ui_text","z":"7b19209e.9dfc4","group":"5b216935.578588","order":3,"width":6,"height":4,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":1190,"y":420,"wires":[]},{"id":"5af79e52.72298","type":"countdown","z":"7b19209e.9dfc4","name":"","topic":"","payloadTimerStart":"\" Please Wait\"","payloadTimerStartType":"str","payloadTimerStop":"","payloadTimerStopType":"date","timer":"30","resetWhileRunning":false,"setTimeToNewWhileRunning":true,"startCountdownOnControlMessage":false,"x":730,"y":940,"wires":[["4a9c71a5.48aad"],[]]},{"id":"a9cb4d54.0a986","type":"watson-translator","z":"7b19209e.9dfc4","name":"","action":"translate","basemodel":"ar-en","domain":"general","srclang":"en","destlang":"hi","password":"Ayanghosh974@","apikey":"F57bxAhC9DgyuQKrG7hF5-ap-OWR3E-VSsvpUPDxX72F","custom":"","domainhidden":"general","srclanghidden":"en","destlanghidden":"hi","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"service-endpoint":"https://api.eu-gb.language-translator.watson.cloud.ibm.com/instances/ba3eaf3d-5420-44f6-9463-56b1947297d4","x":690,"y":420,"wires":[["58323335.b7ee6c","69063c27.5ea164"]]},{"id":"7b1756c2.864868","type":"ui_dropdown","z":"7b19209e.9dfc4","name":"","label":"","tooltip":"","place":"Select option","group":"5b216935.578588","order":2,"width":6,"height":1,"passthru":true,"multiple":false,"options":[{"label":"Hindi","value":"hi","type":"str"},{"label":"Italian","value":"it","type":"str"},{"label":"French","value":"fr","type":"str"},{"label":"Russian","value":"ru","type":"str"},{"label":"Nepali","value":"ne","type":"str"},{"label":"Arabic","value":"ar","type":"str"},{"label":"Korean","value":"ko","type":"str"},{"label":"German","value":"de","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":250,"y":420,"wires":[["d7f006d4.34d3a8","93f9a8da.6a8b38"]]},{"id":"93f9a8da.6a8b38","type":"function","z":"7b19209e.9dfc4","name":"","func":"var lan=global.get(\"Lan\")\nvar ss=global.get(\"ss\")\nmsg = {\n       srclang:\"en\",\n       destlang:lan,\n       topic:\"a\",\n       payload:ss\n    } ;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":440,"wires":[["a9cb4d54.0a986"]]},{"id":"d7f006d4.34d3a8","type":"function","z":"7b19209e.9dfc4","name":"","func":"global.set(\"Lan\",msg.payload);\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":400,"wires":[[]]},{"id":"159b97d6.5369f8","type":"function","z":"7b19209e.9dfc4","name":"","func":"global.set(\"ss\",msg.payload);\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":960,"y":660,"wires":[[]]},{"id":"d1eb2db4.dc0a2","type":"switch","z":"7b19209e.9dfc4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"turn on light","vt":"str"},{"t":"eq","v":"turn off light","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1310,"y":700,"wires":[["83c1ccea.e4841"],["ed9f4a54.bb27a8"]]},{"id":"83c1ccea.e4841","type":"http request","z":"7b19209e.9dfc4","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://cloud.boltiot.com/remote/008ba9c8-c2e9-4b83-ad23-6d5f878765cb/digitalWrite?pin=0&state=LOW&deviceName=BOLT7421808","tls":"","persist":false,"proxy":"","authType":"","x":1590,"y":700,"wires":[[]]},{"id":"ed9f4a54.bb27a8","type":"http request","z":"7b19209e.9dfc4","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://cloud.boltiot.com/remote/008ba9c8-c2e9-4b83-ad23-6d5f878765cb/digitalWrite?pin=0&state=HIGH&deviceName=BOLT7421808","tls":"","persist":false,"proxy":"","authType":"","x":1650,"y":760,"wires":[[]]},{"id":"4e9c7647.4aab78","type":"ui_button","z":"7b19209e.9dfc4","name":"","group":"5b216935.578588","order":7,"width":3,"height":1,"passthru":false,"label":"Turn off Lights","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":1820,"y":760,"wires":[["ed9f4a54.bb27a8"]]},{"id":"6a024e69.58e44","type":"ui_button","z":"7b19209e.9dfc4","name":"","group":"5b216935.578588","order":6,"width":3,"height":1,"passthru":false,"label":"Turn On Lights","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":1820,"y":720,"wires":[["83c1ccea.e4841"]]},{"id":"ad1ecb1c.20b968","type":"function","z":"7b19209e.9dfc4","name":"","func":"msg.payload={\"audio_data\":msg.payload}\nmsg.headers={ \n    \"authorization\": \"63bf724d31ac4b8784143fce713c520c\",     \"content-type\": \"application/json\" \n    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":800,"wires":[["a0bc54b6.166a98"]]},{"id":"fdcb69ac.47b328","type":"base64","z":"7b19209e.9dfc4","name":"","action":"","property":"payload","x":440,"y":900,"wires":[["ad1ecb1c.20b968"]]},{"id":"ffb1e84c.de1118","type":"http request","z":"7b19209e.9dfc4","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://cloud.boltiot.com/remote/008ba9c8-c2e9-4b83-ad23-6d5f878765cb/digitalWrite?pin=0&state=HIGH&deviceName=BOLT14916695","tls":"","persist":false,"proxy":"","authType":"","x":1710,"y":440,"wires":[[]]},{"id":"d19cd3f6.9073b","type":"switch","z":"7b19209e.9dfc4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"number 4 start","vt":"str"},{"t":"eq","v":"number 4 stop","vt":"str"},{"t":"eq","v":"number 3 start","vt":"str"},{"t":"eq","v":"number 3 stop","vt":"str"},{"t":"eq","v":"number 1 start","vt":"str"},{"t":"eq","v":"number 1 stop","vt":"str"},{"t":"eq","v":"number 2 start","vt":"str"},{"t":"eq","v":"number 2 stop","vt":"str"},{"t":"eq","v":"everything on","vt":"str"},{"t":"eq","v":"everything off","vt":"str"}],"checkall":"true","repair":false,"outputs":10,"x":1290,"y":560,"wires":[["f0a2e56d.cea548"],["ffb1e84c.de1118"],["c44623d4.5172"],["8e18fa3f.a66778"],["4443dd33.0107c4"],["60dea2a8.da1cfc"],["d8f2200f.482b4"],["f15c5071.e976e"],["f0a2e56d.cea548","c44623d4.5172","4443dd33.0107c4","d8f2200f.482b4"],["f15c5071.e976e","60dea2a8.da1cfc","8e18fa3f.a66778","ffb1e84c.de1118"]]},{"id":"f0a2e56d.cea548","type":"http request","z":"7b19209e.9dfc4","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://cloud.boltiot.com/remote/008ba9c8-c2e9-4b83-ad23-6d5f878765cb/digitalWrite?pin=0&state=LOW&deviceName=BOLT14916695","tls":"","persist":false,"proxy":"","authType":"","x":1490,"y":300,"wires":[[]]},{"id":"4443dd33.0107c4","type":"http request","z":"7b19209e.9dfc4","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://cloud.boltiot.com/remote/008ba9c8-c2e9-4b83-ad23-6d5f878765cb/digitalWrite?pin=2&state=LOW&deviceName=BOLT14916695","tls":"","persist":false,"proxy":"","authType":"","x":1810,"y":360,"wires":[[]]},{"id":"d8f2200f.482b4","type":"http request","z":"7b19209e.9dfc4","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://cloud.boltiot.com/remote/008ba9c8-c2e9-4b83-ad23-6d5f878765cb/digitalWrite?pin=3&state=LOW&deviceName=BOLT14916695","tls":"","persist":false,"proxy":"","authType":"","x":1370,"y":220,"wires":[[]]},{"id":"c44623d4.5172","type":"http request","z":"7b19209e.9dfc4","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://cloud.boltiot.com/remote/008ba9c8-c2e9-4b83-ad23-6d5f878765cb/digitalWrite?pin=1&state=LOW&deviceName=BOLT14916695","tls":"","persist":false,"proxy":"","authType":"","x":1670,"y":300,"wires":[[]]},{"id":"f15c5071.e976e","type":"http request","z":"7b19209e.9dfc4","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://cloud.boltiot.com/remote/008ba9c8-c2e9-4b83-ad23-6d5f878765cb/digitalWrite?pin=3&state=HIGH&deviceName=BOLT14916695","tls":"","persist":false,"proxy":"","authType":"","x":1710,"y":620,"wires":[[]]},{"id":"60dea2a8.da1cfc","type":"http request","z":"7b19209e.9dfc4","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://cloud.boltiot.com/remote/008ba9c8-c2e9-4b83-ad23-6d5f878765cb/digitalWrite?pin=2&state=HIGH&deviceName=BOLT14916695","tls":"","persist":false,"proxy":"","authType":"","x":1710,"y":560,"wires":[[]]},{"id":"8e18fa3f.a66778","type":"http request","z":"7b19209e.9dfc4","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://cloud.boltiot.com/remote/008ba9c8-c2e9-4b83-ad23-6d5f878765cb/digitalWrite?pin=1&state=HIGH&deviceName=BOLT14916695","tls":"","persist":false,"proxy":"","authType":"","x":1710,"y":520,"wires":[[]]},{"id":"5b216935.578588","type":"ui_group","name":"","tab":"3d3b0d60.cfe5a2","order":1,"disp":true,"width":6,"collapse":false},{"id":"3d3b0d60.cfe5a2","type":"ui_tab","name":"assembly AI","icon":"dashboard","order":4,"disabled":false,"hidden":false}]